/*
@font-face {
  font-family: "***";
  src: url("fonts/***");
}
*/
#click {
  transition: all .2s ease-in-out;
  outline: 0;
}
#click:hover {
  transform: scale(1.05);
  outline: 0;
}
#click:active {
  transform: scale(1.0);
  outline: 0;
}
